<div class="footer-bottom-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                <div class="fba-left">
                    <ul class="links">
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li>
                            <a href="/animes">Animes</a>
                        </li>
                        <li>
                            <a href="/trending">Trending</a>
                        </li>
                        <li>
                            <a href="/popularity">Popular</a>
                        </li>
                        <li>
                            <a href="/likes">Most Liked</a>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>