<div class="header-bottom-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-8 col-sm-12 col-12">
                    <div class="search-signup">
                        <div class="search">
                            {{> search-bar }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
