<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Anime List || {{title}}</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/jquery-ui.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/animate.css">
    <link rel="stylesheet" href="/css/plyr.css">
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <link rel="stylesheet" href="/css/slicknav.min.css">
    <link rel="stylesheet" href="/css/custom.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="shortcut icon" type="image/png" href="/img/favicon.ico">
</head>

<body>
{{> header}}
{{{body}}}

<footer>
    {{> footer}}
</footer>

<script src="/js/jquery-3.2.0.min.js"></script>
<script src="/js/jquery-ui.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/jquery.counterup.min.js"></script>
<script src="/js/countdown.js"></script>
<script src="/js/parallax.js"></script>
<script src="/js/amplitude.js"></script>
<script src="/js/plyr.js"></script>
<script src="/js/jquery.slimscroll.min.js"></script>
<script src="/js/jquery.magnific-popup.min.js"></script>
<script src="/js/jquery.slicknav.min.js"></script>
<script src="/js/jquery.scrollUp.js"></script>
<script src="/js/jquery.mixitup.min.js"></script>
<script src="/js/jquery.waypoints.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/theme.js"></script>
</body>